<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quote Of The Day WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Quote Of The Day WatchKit App (Glance).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Quote Of The Day WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Quote Of The Day WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Quote Of The Day.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F5A59A81CC6684E00C0976A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F5A59BC1CC6684F00C0976A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F5A59C71CC6684F00C0976A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F5A59D01CC6684F00C0976A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
