<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Timers WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Timers WatchKit App (Glance).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Timers WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Timers WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Timers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F6CD9251CC42492003B0E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F6CD9391CC42492003B0E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F6CD9441CC42492003B0E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F6CD94D1CC42492003B0E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
